@charset "UTF-8";

a:active,
a:hover {
  outline: 0;
}

.btn,
img {
  vertical-align: middle;
}

.ui-helper-clearfix:after,
.ui-helper-clearfix:before {
  content: "";
  display: table;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  zoom: 1;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

.ui-widget {
  font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
  font-size: 1.1em;
}

.ui-widget-content {
  border: 1px solid #a6c9e2;
  background: url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x #fcfdfd;
  color: #222;
}

.ui-corner-all {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

.ui-corner-all {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.ui-corner-all {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ui-corner-all {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

body {
  margin: 0;
}

img {
  border: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  background-color: transparent;
}

strong {
  font-weight: 700;
}

pre,
textarea {
  overflow: auto;
}

pre {
  font-size: 1em;
}

button,
input,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

.glyphicon {
  font-style: normal;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

@media print {
  img,
  pre {
    page-break-inside: avoid;
  }

  * {
    color: #000!important;
    text-shadow: none!important;
    background: 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  pre {
    border: 1px solid #999;
  }

  img {
    max-width: 100%!important;
  }
}

.dropdown-menu {
  -webkit-background-clip: padding-box;
}

.btn,
.btn-primary:active,
.btn:active,
.form-control {
  background-image: none;
}

body {
  background-color: #fff;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-exclamation-sign:before {
  content: "\e101";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

pre {
  line-height: 1.42857143;
}

ul {
  margin-top: 0;
}

ul {
  margin-bottom: 10px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

pre {
  display: block;
  color: #333;
}

pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.form-control {
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  display: block;
}

input[type=file] {
  display: block;
}

input[type=file]:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

textarea.form-control {
  height: auto;
}

.dropdown {
  position: relative;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}

.btn:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary[disabled],
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-link {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  border-color: transparent;
}

.btn-link:focus,
.btn-link:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:focus,
.btn-link[disabled]:hover {
  color: #777;
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  line-height: 1.42857143;
  white-space: nowrap;
}

.dropdown-menu>li>a {
  clear: both;
  font-weight: 400;
  color: #333;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .form-control,
.input-group-addon {
  display: table-cell;
}

.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group .form-control:first-child,
.input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-addon:last-child {
  border-left: 0;
}

.btn .badge {
  top: -1px;
  position: relative;
}

.badge {
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  color: #fff;
  background-color: #777;
  border-radius: 10px;
}

.alert {
  margin-bottom: 20px;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after {
  clear: both;
}

.hidden,
.visible-sm {
  display: none!important;
}

@-ms-viewport {
  width: device-width;
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
    display: block!important;
  }
}

@font-face {
  font-family: Ionicons;
  src: url(../fonts/ionicons.eot?v=2.0.0);
  src: url(../fonts/ionicons.eot?v=2.0.0#iefix) format("embedded-opentype"),url(../fonts/ionicons.ttf?v=2.0.0) format("truetype"),url(../fonts/ionicons.woff?v=2.0.0) format("woff"),url(../fonts/ionicons.svg?v=2.0.0#Ionicons) format("svg");
  font-weight: 400;
  font-style: normal;
}

.ion-arrow-down-c:before,
.ion-chevron-down:before,
.ion-close-round:before,
.ion-edit:before,
.ion-plus-round:before {
  display: inline-block;
  font-family: Ionicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-arrow-down-c:before {
  content: "\f105";
}

.ion-chevron-down:before {
  content: "\f123";
}

.ion-close-round:before {
  content: "\f129";
}

.ion-edit:before {
  content: "\f2bf";
}

.ion-plus-round:before {
  content: "\f217";
}

@-webkit-keyframes Ripple-enter {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes Ripple-enter {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes ProgressIdenticator-spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ProgressIdenticator-spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700);

body,
html {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.background,
body,
html {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
}

.invoice .contact .value .expandingText {
  min-height: 60px;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #eee;
  background: -moz-linear-gradient(top,#eee 0,#eee 71%,#ddd 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(71%,#eee),color-stop(100%,#ddd));
  background: -webkit-linear-gradient(top,#eee 0,#eee 71%,#ddd 100%);
  background: -o-linear-gradient(top,#eee 0,#eee 71%,#ddd 100%);
  background: -ms-linear-gradient(top,#eee 0,#eee 71%,#ddd 100%);
  background: linear-gradient(to bottom,#eee 0,#eee 71%,#ddd 100%);
}

a:active:not(.btn),
a:not(.btn),
a:visited:not(.btn) {
  color: #4b94d9;
}

a:hover:not(.btn) {
  color: #0466bd;
  text-decoration: none;
}

.background {
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #eee;
  background: -moz-linear-gradient(top,#eee 0,#eee 71%,#ddd 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(71%,#eee),color-stop(100%,#ddd));
  background: -webkit-linear-gradient(top,#eee 0,#eee 71%,#ddd 100%);
  background: -o-linear-gradient(top,#eee 0,#eee 71%,#ddd 100%);
  background: -ms-linear-gradient(top,#eee 0,#eee 71%,#ddd 100%);
  background: linear-gradient(to bottom,#eee 0,#eee 71%,#ddd 100%);
}

.container,
.input-amount,
.papers {
  position: relative;
}

.container {
  z-index: 1;
}

.btn {
  border-radius: 3px;
  text-rendering: optimizelegibility;
  border-width: 0 0 2px;
  border-color: rgba(0,0,0,.1);
}

.btn:not(.btn-link):hover {
  opacity: .9;
}

.btn[disabled] {
  opacity: .35!important;
}

.btn[disabled=disabled] {
  cursor: not-allowed;
  pointer-events: auto;
}

.btn-primary {
  background-color: #4b94d9;
  color: #fff;
  border-width: 0 0 2px;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: #0466bd;
  color: #fff;
  border-color: rgba(0,0,0,.1);
}

.btn-primary[disabled=disabled]:focus,
.btn-primary[disabled=disabled]:hover {
  background-color: #4b94d9;
  opacity: .35;
}

.btn-link {
  color: #4b94d9;
  border-bottom: none;
}

.btn-link:hover {
  color: #0466bd;
}

.papers {
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #fff,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #fff,7px 7px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #fff,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #fff,7px 7px 0 rgba(0,0,0,.15);
  box-shadow: 1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #fff,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #fff,7px 7px 0 rgba(0,0,0,.15);
}

.form-control {
  box-shadow: none;
  padding: 8px 12px;
  height: 38px;
  line-height: 1.42857;
}

.form-control:focus {
  box-shadow: none;
}

.input-group-addon {
  font-size: 13px;
}

.input-amount {
  height: 38px;
}

.input-amount .form-control {
  position: relative;
  z-index: 1;
  border-radius: 4px!important;
  padding-left: 45px;
}

.input-amount .addon {
  position: absolute;
  display: block;
  top: 1px;
  z-index: 2;
  height: 36px;
  line-height: 36px;
}

.input-amount .addon.selector,
.input-amount.is-percent .addon.currency-sign {
  display: none;
}

.input-amount .addon.currency-sign {
  left: 1px;
  width: 45px;
  text-align: center;
  font-size: 13px;
}

.input-amount .addon.percent {
  display: none;
  right: 1px;
  width: 30px;
  text-align: left;
  padding-left: 5px;
}

.input-amount.is-percent .form-control {
  padding-left: 12px;
  padding-right: 30px;
  text-align: right;
}

.input-amount.is-percent .addon.percent {
  display: block;
}

.input-amount.with-selector .form-control {
  padding-right: 30px;
}

.input-amount.with-selector .addon.selector {
  display: block;
  width: 30px;
  right: 1px;
}

.input-amount.with-selector .addon.selector .btn {
  display: block;
  background: 0 0;
  border: none;
  border-radius: 0;
  line-height: 36px;
  height: 36px;
  width: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  color: #999;
  outline: 0;
}

.input-amount.with-selector .addon.selector .btn:active,
.input-amount.with-selector .addon.selector .btn:focus,
.input-amount.with-selector .addon.selector .btn:hover {
  background: 0 0;
  border: none;
  text-decoration: none;
  box-shadow: none;
  color: #0466bd;
}

.input-amount.with-selector .dropdown-menu {
  min-width: 100px;
}

.input-amount.with-selector .dropdown-menu a {
  color: #555;
  text-align: right;
}

.input-amount.with-selector .dropdown-menu li.active a {
  background: #4b94d9;
  color: #fff;
}

.input-amount.with-selector.is-percent .form-control {
  padding-right: 45px;
}

.input-amount.with-selector.is-percent .addon.percent {
  right: 31px;
  width: 15px;
}

.invoice-holder {
  margin: 0;
  padding: 0 225px 0 0;
  position: relative;
}

.invoice-holder .papers {
  float: right;
  width: 100%;
}

.invoice-holder .invoice-controls.desktop {
  float: right;
  margin-right: -225px;
  width: 210px;
  position: relative;
}

.invoice-holder .invoice-controls.desktop>.affix-el {
  width: 210px;
  padding: 15px 0 15px 15px;
}

.invoice-holder .invoice-controls.mobile,
.invoice-holder .mobile-btns {
  display: none;
}

.invoice-holder .invoice-controls .btns {
  clear: both;
}

.invoice-holder .invoice-controls .btns .btn-holder {
  padding: 0;
  margin: 0 0 10px;
}

.invoice-holder .invoice-controls .section {
  text-align: left;
}

.invoice-holder .invoice-controls .section a,
.invoice-holder .invoice-controls .section a:active,
.invoice-holder .invoice-controls .section a:visited {
  display: block;
  width: 100%;
  text-shadow: 0 0 2px #fff;
}

.invoice-holder .invoice-controls .section a:hover {
  color: #0466bd;
}

.invoice-holder .invoice-controls .selected-currency {
  color: #555;
  margin: 15px 0 0;
  padding: 0 0 0 15px;
  font-size: 1.1em;
}

.invoice-holder .invoice-controls .selected-currency a {
  color: inherit;
}

.invoice-holder .invoice-controls .selected-currency a .edit-icon {
  visibility: hidden;
}

.invoice-holder .invoice-controls .selected-currency a:hover {
  color: #0466bd;
}

.invoice-holder .invoice-controls .selected-currency a:hover .edit-icon {
  visibility: visible;
}

.invoice-holder .invoice-controls .save-template {
  margin: 10px 0;
  padding: 0 15px;
  clear: both;
}

.invoice-holder .invoice-controls .save-template a {
  padding: 6px 0;
  line-height: 20px;
}

.invoice-holder .invoice-controls .save-template .using-default {
  color: #999;
  font-size: 13px;
  padding: 6px 0;
  line-height: 20px;
}

.invoice-holder .invoice-controls .my-invoices-btn {
  margin: 15px 0 10px;
  padding: 10px 0 0;
  clear: both;
  font-size: 1.2em;
  border-top: 1px solid #ddd;
}

.invoice-holder .invoice-controls .my-invoices-btn a .badge {
  font-size: 14px;
}

.my-invoices-btn a {
  padding: 6px 15px;
  border-radius: 4px;
  color: #555;
}

.my-invoices-btn a .badge {
  background: #c14543;
  text-shadow: none;
}

.my-invoices-btn a:hover {
  background: #4b94d9;
  color: #fff!important;
  text-shadow: none!important;
  text-decoration: none;
}

.my-invoices-btn a:hover .badge {
  background: #fff;
  color: #4b94d9;
}

.invoice {
  margin: 0 -15px 0 0;
}

.invoice .two-col {
  clear: both;
  margin: 0 0 10px;
  width: 100%;
}

.invoice .two-col .col {
  float: left;
  width: 50%;
  padding: 0 34px 0 0;
}

.invoice .two-col .col-offset {
  margin-left: 50%;
}

.invoice .input-label {
  padding-top: 0;
  padding-bottom: 0;
  color: #777;
  background: 0 0;
  border-color: transparent;
  border-radius: 4px!important;
}

.invoice .input-label:hover {
  border-color: rgba(0,0,0,.1);
  background-color: rgba(255,255,255,.05);
  cursor: pointer;
}

.invoice .input-label:focus {
  cursor: text;
  box-shadow: none;
  border-color: #ccc;
  background-color: rgba(255,255,255,.1);
}

.invoice .input-group.addon-input {
  float: right;
  margin: 1px 0;
  clear: both;
  position: relative;
}

.invoice .input-group.addon-input .input-label {
  text-align: right;
}

.invoice .input-group.addon-input .delete {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.invoice .input-group.addon-input .delete .btn {
  width: 38px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  color: #999;
}

.invoice .input-group.addon-input .delete .btn:focus,
.invoice .input-group.addon-input .delete .btn:hover {
  color: #0466bd;
}

.invoice .input-group.addon-input>.input-group-addon {
  padding: 0 1px 0 5px;
  background: 0;
  border: 0;
  width: 150px;
  text-align: left;
  line-height: inherit;
}

.invoice .input-group.addon-input>.input-group-addon>.form-control {
  border-radius: 4px;
}

.invoice .input-group.addon-input>.input-group-addon.value {
  padding: 5px 11px;
}

.invoice .input-group.addon-input>.input-group-addon.deleteable {
  padding-right: 45px;
  width: 195px;
}

.invoice .input-group.addon-input:hover .delete {
  visibility: visible;
}

.invoice .input-group.addon-input.highlight {
  font-weight: 700;
  background: #f5f5f5;
  border-radius: 4px;
  color: #555;
  padding: 5px 0 5px 15px;
}

.invoice .input-group.addon-input.highlight>.value {
  font-size: inherit;
  font-weight: inherit;
}

.invoice .field {
  color: #777;
  font-size: 1em;
  text-align: right;
  display: inline-block;
  height: 26px;
  padding: 0 5px;
  line-height: 26px;
  box-shadow: none;
}

.invoice .field.bordered {
  background: #353940;
  border-radius: 4px;
}

.invoice .field.bordered .input-label {
  color: #fff;
}

.invoice .logo {
  text-align: left;
  position: relative;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.invoice .logo .placeholder {
  width: 100%;
  height: 130px;
  background: #f5f5f5;
  border-radius: 4px;
  text-align: center;
  padding: 50px 0 0;
  border: 1px solid rgba(0,0,0,.1);
}

.invoice .logo .placeholder .main {
  font-size: 1.2em;
  color: #777;
}

.invoice .logo .placeholder .secondary {
  color: #aaa;
}

.invoice .logo img {
  border-radius: 4px;
  max-width: 200px;
  max-height: 150px;
  overflow: hidden;
}

.invoice .logo input[type=file] {
  cursor: pointer!important;
  width: 100%;
  height: 20px;
  left: 0;
  opacity: 0;
  position: absolute;
  padding: 0;
  line-height: 100%;
}

.invoice .logo .remove-logo {
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  padding: 0 5px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background: #3a3a3a;
  box-shadow: none;
  border: none;
}

.invoice .logo-not-supported {
  display: none;
}

.invoice .logo .remove-logo:focus,
.invoice .logo .remove-logo:hover {
  text-decoration: none;
  background: #4b94d9;
}

.invoice .logo .file-1 {
  top: 0;
}

.invoice .logo .file-2 {
  top: 20px;
}

.invoice .logo .file-3 {
  top: 40px;
}

.invoice .logo .file-4 {
  top: 60px;
}

.invoice .logo .file-5 {
  top: 80px;
}

.invoice .logo .file-6 {
  top: 100px;
}

.invoice .logo .file-7 {
  top: 120px;
}

.invoice .logo .file-8 {
  top: 140px;
}

.invoice .logo:hover .placeholder {
  background: #eee;
}

.invoice .contact {
  margin: 15px 0 0;
  max-width: 275px;
}

.invoice .contact .field {
  text-align: left;
  padding: 0;
  height: 36px;
}

.invoice .contact .value {
  text-align: left;
  padding-top: 0;
}

.invoice .title,
.invoice .title .subtitle .form-control {
  text-align: right;
}

.invoice .title {
  margin: 0 30px 45px 0;
  float: right;
  max-width: 45%;
}

.invoice .title .input-label {
  margin: 15px 0 10px;
  padding: 0 15px;
  font-size: 2.75em;
  font-weight: 200;
  color: #353940;
  text-align: right;
  height: auto;
}

.invoice .title .subtitle {
  margin-right: 5px;
  max-width: 170px;
  float: right;
}

.invoice .items-holder {
  margin: 30px 0;
}

.invoice .items-holder .items-table-header {
  padding-right: 352px;
  padding-bottom: 2px;
}

.invoice .items-holder .items-table-header>div .field {
  width: 100%;
  text-align: left;
  display: block;
  border-radius: 0;
  padding: 1px 0;
  height: auto;
  border-width: 0;
}

.invoice .items-holder .items-table-header>div .field .input-label {
  height: 26px;
}

.invoice .items-holder .items-table-header>div .field .input-label:focus,
.invoice .items-holder .items-table-header>div .field .input-label:hover {
  border-color: transparent;
}

.invoice .items-holder .items-table-header .amount,
.invoice .items-holder .items-table-header .quantity,
.invoice .items-holder .items-table-header .unit_cost {
  white-space: nowrap;
  float: right;
}

.invoice .items-holder .items-table-header .name .field.bordered {
  border-radius: 4px 0 0 4px;
}

.invoice .items-holder .items-table-header .quantity {
  width: 92px;
  margin-right: -92px;
}

.invoice .items-holder .items-table-header .unit_cost {
  width: 122px;
  margin-right: -214px;
}

.invoice .items-holder .items-table-header .amount {
  width: 102px;
  margin-right: -316px;
}

.invoice .items-holder .items-table-header .amount .field.bordered {
  border-radius: 0 4px 4px 0;
}

.invoice .items-holder .items-table .item-row .main-row {
  padding-right: 352px;
}

.invoice .items-holder .items-table .item-row .main-row>div {
  white-space: nowrap;
  padding: 1px;
}

.invoice .items-holder .items-table .item-row .main-row .amount,
.invoice .items-holder .items-table .item-row .main-row .delete,
.invoice .items-holder .items-table .item-row .main-row .quantity,
.invoice .items-holder .items-table .item-row .main-row .unit_cost {
  white-space: nowrap;
  float: right;
}

.invoice .items-holder .items-table .item-row .main-row .quantity {
  width: 90px;
  margin-right: -92px;
}

.invoice .items-holder .items-table .item-row .main-row .unit_cost {
  width: 120px;
  margin-right: -214px;
}

.invoice .items-holder .items-table .item-row .main-row .amount {
  width: 100px;
  margin-right: -316px;
}

.invoice .items-holder .items-table .item-row .main-row .value {
  padding: 10px 15px;
}

.invoice .items-holder .items-table .item-row .main-row .delete {
  width: 34px;
  text-align: center;
  line-height: 40px;
  margin-right: -348px;
  visibility: hidden;
}

.invoice .items-holder .items-table .item-row .main-row .delete .delete-row {
  color: #999;
  border: none;
  box-shadow: none;
  background: 0 0;
  padding: 0;
  font-size: 14px;
}

.invoice .items-holder .items-table .item-row .main-row .delete .delete-row:focus,
.invoice .items-holder .items-table .item-row .main-row .delete .delete-row:hover {
  color: #0466bd;
}

.invoice .items-holder .items-table .item-row:hover .delete {
  visibility: visible;
}

.invoice .items-holder .new-line {
  margin-top: 2px;
  padding-right: 34px;
}

.invoice .rates .col {
  padding-right: 0;
}

.invoice .add-rates {
  float: right;
  width: 100%;
  margin: 5px 34px 0 0;
  padding: 0;
  line-height: 25px;
  text-align: right;
}

.invoice .footer>div {
  margin-right: 34px;
}

.invoice .footer .notes-holder {
  margin-top: 30px;
}

.invoice .footer .terms-holder {
  margin-top: 15px;
}

.invoice .footer .field {
  display: block;
  text-align: left;
  padding: 0;
  height: 38px;
  width: 150px;
  margin: 0 0 1px;
}

.invoice .footer .expandingText,
.invoice .footer textarea {
  min-height: 60px;
  resize: none;
}

@media (max-width:991px) {
  .invoice {
    float: none;
  }

  .invoice .input-group.addon-input {
    width: auto;
  }
}

.currency-symbol {
  margin-right: 2px;
}

.scrollable {
  overflow-y: scroll!important;
  -webkit-transition-property: top,bottom;
  transition-property: top,bottom;
  -webkit-transition-duration: .2s,.2s;
  transition-duration: .2s,.2s;
  -webkit-transition-timing-function: linear,linear;
  transition-timing-function: linear,linear;
  -webkit-overflow-scrolling: touch;
}

.currency-amount {
  line-height: 1;
}

.currency-symbol {
  font-size: .95em;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width:991px) {
  .invoice-holder {
    padding: 0!important;
  }

  .invoice-holder .invoice-controls.desktop {
    display: none;
  }

  .invoice-holder .invoice-controls.mobile {
    display: block;
  }

  .invoice-holder .invoice-controls {
    margin: 0;
    padding: 20px 0 0;
    float: none;
    clear: both;
    width: 100%;
  }

  .invoice-holder .invoice-controls .btns {
    max-width: 450px;
    margin: 0 auto;
  }

  .invoice-holder .invoice-controls .btns .btn-holder {
    margin: 0;
    padding: 0;
  }

  .invoice-holder .invoice-controls .btns .btn-holder .btn {
    max-width: 210px;
    float: left;
    margin: 0 15px 0 0;
  }

  .invoice-holder .invoice-controls .section {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width:767px) {
  .invoice-holder .invoice .input-group.addon-input .delete {
    visibility: visible;
  }

  .invoice-holder .invoice .items-holder .items-table-header,
  .invoice-holder .invoice .logo .file-4,
  .invoice-holder .invoice .logo .file-5,
  .invoice-holder .invoice .logo .file-6,
  .invoice-holder .invoice .logo .file-7,
  .invoice-holder .invoice .logo .file-8 {
    display: none;
  }

  .papers {
    padding: 10px;
  }

  .invoice-holder {
    margin: 0 auto;
    max-width: 480px;
  }

  .invoice-holder .invoice {
    margin: 0;
    float: none;
  }

  .invoice-holder .invoice .logo {
    height: 60px;
  }

  .invoice-holder .invoice .logo .placeholder {
    padding: 15px 0 0;
    height: 60px;
  }

  .invoice-holder .invoice .input-group.addon-input {
    width: 100%;
  }

  .invoice-holder .invoice .input-group.addon-input:not(.no-input) {
    float: none;
  }

  .invoice-holder .invoice .title {
    margin: 0 0 15px;
    width: 100%;
    float: none;
    height: auto;
    text-align: left;
  }

  .invoice-holder .invoice .title .input-label {
    text-align: left;
    font-size: 2.5em;
    margin-top: 5px;
    padding: 0 15px 0 5px;
    height: auto;
  }

  .invoice-holder .invoice .title .subtitle {
    margin: 0;
    float: none;
  }

  .invoice-holder .invoice .title .subtitle .form-control {
    text-align: left;
  }

  .invoice-holder .invoice .two-col .col {
    float: none;
    width: 100%;
    padding: 0;
  }

  .invoice-holder .invoice .two-col .col-offset {
    margin: 0;
  }

  .invoice-holder .invoice .contact {
    min-height: 0;
    max-width: 100%;
  }

  .invoice-holder .invoice .contact .field {
    float: none;
    height: auto;
    margin-left: 0;
    width: auto;
    text-align: left;
    padding: 0;
  }

  .invoice-holder .invoice .fields {
    margin-top: 30px;
  }

  .invoice-holder .invoice .items-holder .items-table {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #ddd;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row {
    position: relative;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row {
    padding: 0;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .amount,
  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .delete,
  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .quantity,
  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .unit_cost {
    float: none;
    margin: 0;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .delete {
    position: absolute;
    top: 7px;
    right: 10px;
    z-index: 2;
    visibility: visible;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .amount:before {
    content: "Amount: ";
    color: #999;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .amount {
    padding: 8px 5px;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .unit_cost {
    float: left;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .unit_cost .form-control {
    max-width: 100px;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .quantity {
    position: relative;
    float: left;
    width: 115px;
    padding-left: 20px;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .quantity .form-control {
    max-width: 95px;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .quantity:after {
    content: "\00D7";
    line-height: 35px;
    position: absolute;
    left: 5px;
    top: 0;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row .main-row .name {
    clear: both;
  }

  .invoice-holder .invoice .items-holder .items-table .item-row:first-child {
    border-top: 0;
  }

  .invoice-holder .invoice .items-holder .new-line {
    padding: 0;
    margin: 5px 0 0;
  }

  .invoice-holder .invoice .footer {
    padding: 0;
  }

  .invoice-holder .invoice .footer>div {
    margin-left: 0;
    margin-right: 0;
  }

  .invoice-holder .mobile-btns {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    background: rgba(255,255,255,.85);
    border-top: 1px solid #ccc;
    z-index: 500;
    padding: 10px 15px;
  }

  .invoice-holder .mobile-btns .inner {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }

  .invoice-holder .mobile-btns .right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .invoice-holder .mobile-btns .right .btn-link {
    border-bottom: 2px solid transparent;
  }

  .invoice-holder .invoice-controls {
    margin: 0;
  }

  .invoice-holder .invoice-controls .btns {
    clear: both;
    margin: 10px auto;
    text-align: center;
  }

  .invoice-holder .invoice-controls .btns button {
    margin: 0 15px 5px 0;
  }
}

.filereader .logo {
  display: table-cell;
}

.filereader .logo-not-supported {
  display: none;
}

@media print {
  body,
  html {
    font-family: Helvetica;
    font-size: 10pt;
    text-align: center;
    margin: 10px;
    background: 0 0;
  }

  body:before {
    content: 'Please click "Download Invoice" to print your invoice.';
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    color: #404040;
  }

  div,
  iframe {
    display: none;
  }
}